.btn-success {
  background: linear-gradient(to right, #6ff663 0%, #5dff57 100%) !important;
  border-color: #63cdf6;
  color:green;
}

.card-header{
  background-color: skyblue;
  color: white;
  font-family: system-ui;
}

.card-header.card-success{
  background-color: mediumseagreen;
  font-family: system-ui;
}