.btn-success {
  background-color: mediumseagreen;
  color: white;
  font-family: system-ui;
}

.input-group-append{
  height: calc(1.5em + .75rem + 2px);
}

.input-group-prepend{
  height: calc(1.5em + .75rem + 2px);
}

.card-header{
  background-color: skyblue;
  color: white;
  font-family: system-ui;
}

.card-header.card-success{
  background-color: mediumseagreen;
  font-family: system-ui;
}